In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
baby_names = '/Users/Paul/Sandbox/ygnite_proj/data/pop_baby_names.csv'

In [8]:
baby_names_df = pd.read_csv(baby_names)

In [9]:
baby_names_df

      BRTH_YR    GNDR                      ETHCTY         NM  CNT  RNK
0        2011  FEMALE  ASIAN AND PACIFIC ISLANDER    ABIGAIL   24   24
1        2011  FEMALE  ASIAN AND PACIFIC ISLANDER    ABIGAIL   24   24
2        2011  FEMALE  ASIAN AND PACIFIC ISLANDER    ABIGAIL   24   24
3        2011  FEMALE  ASIAN AND PACIFIC ISLANDER        ADA   13   35
4        2011  FEMALE  ASIAN AND PACIFIC ISLANDER        ADA   13   35
5        2011  FEMALE  ASIAN AND PACIFIC ISLANDER        ADA   13   35
6        2011  FEMALE  ASIAN AND PACIFIC ISLANDER      AISHA   13   35
7        2011  FEMALE  ASIAN AND PACIFIC ISLANDER      AISHA   13   35
8        2011  FEMALE  ASIAN AND PACIFIC ISLANDER      AISHA   13   35
9        2011  FEMALE  ASIAN AND PACIFIC ISLANDER       AIZA   10   38
10       2011  FEMALE  ASIAN AND PACIFIC ISLANDER       AIZA   10   38
11       2011  FEMALE  ASIAN AND PACIFIC ISLANDER       AIZA   10   38
12       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ALEENA   12   36
13       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ALEENA   12   36
14       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ALEENA   12   36
15       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ALEXA   10   38
16       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ALEXA   10   38
17       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ALEXA   10   38
18       2011  FEMALE  ASIAN AND PACIFIC ISLANDER  ALEXANDRA   13   35
19       2011  FEMALE  ASIAN AND PACIFIC ISLANDER  ALEXANDRA   13   35
20       2011  FEMALE  ASIAN AND PACIFIC ISLANDER  ALEXANDRA   13   35
21       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ALICE   27   21
22       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ALICE   27   21
23       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ALICE   27   21
24       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ALINA   25   23
25       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ALINA   25   23
26       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ALINA   25   23
27       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ALISHA   10   38
28       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ALISHA   10   38
29       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ALISHA   10   38
...       ...     ...                         ...        ...  ...  ...
5859     2011    MALE          WHITE NON HISPANIC   YITZCHAK   17   90
5860     2011    MALE          WHITE NON HISPANIC   YITZCHAK   17   90
5861     2011    MALE          WHITE NON HISPANIC   YITZCHAK   17   90
5862     2011    MALE          WHITE NON HISPANIC   YITZCHOK   56   56
5863     2011    MALE          WHITE NON HISPANIC   YITZCHOK   56   56
5864     2011    MALE          WHITE NON HISPANIC   YITZCHOK   56   56
5865     2011    MALE          WHITE NON HISPANIC       YOEL   20   87
5866     2011    MALE          WHITE NON HISPANIC       YOEL   20   87
5867     2011    MALE          WHITE NON HISPANIC       YOEL   20   87
5868     2011    MALE          WHITE NON HISPANIC      YONAH   10   97
5869     2011    MALE          WHITE NON HISPANIC      YONAH   10   97
5870     2011    MALE          WHITE NON HISPANIC      YONAH   10   97
5871     2011    MALE          WHITE NON HISPANIC      YOSEF  102   28
5872     2011    MALE          WHITE NON HISPANIC      YOSEF  102   28
5873     2011    MALE          WHITE NON HISPANIC      YOSEF  102   28
5874     2011    MALE          WHITE NON HISPANIC     YOUSEF   12   95
5875     2011    MALE          WHITE NON HISPANIC     YOUSEF   12   95
5876     2011    MALE          WHITE NON HISPANIC     YOUSEF   12   95
5877     2011    MALE          WHITE NON HISPANIC    YOUSSEF   11   96
5878     2011    MALE          WHITE NON HISPANIC    YOUSSEF   11   96
5879     2011    MALE          WHITE NON HISPANIC    YOUSSEF   11   96
5880     2011    MALE          WHITE NON HISPANIC    ZACHARY   86   38
5881     2011    MALE          WHITE NON HISPANIC    ZACHARY   86   38
5882     2011    MALE          WHITE NON HISPANIC    ZACHARY   86   38
5883     2011    MALE          WHITE NON HISPANIC     ZALMEN   14   93
5884     2011    MALE          WHITE NON HISPANIC     ZALMEN   14   93
5885     2011    MALE          WHITE NON HISPANIC     ZALMEN   14   93
5886     2011    MALE          WHITE NON HISPANIC        ZEV   47   61
5887     2011    MALE          WHITE NON HISPANIC        ZEV   47   61
5888     2011    MALE          WHITE NON HISPANIC        ZEV   47   61

[5889 rows x 6 columns]

In [14]:
baby_names_df = baby_names_df.drop_duplicates()

In [16]:
baby_names_df

      BRTH_YR    GNDR                      ETHCTY         NM  CNT  RNK
0        2011  FEMALE  ASIAN AND PACIFIC ISLANDER    ABIGAIL   24   24
3        2011  FEMALE  ASIAN AND PACIFIC ISLANDER        ADA   13   35
6        2011  FEMALE  ASIAN AND PACIFIC ISLANDER      AISHA   13   35
9        2011  FEMALE  ASIAN AND PACIFIC ISLANDER       AIZA   10   38
12       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ALEENA   12   36
15       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ALEXA   10   38
18       2011  FEMALE  ASIAN AND PACIFIC ISLANDER  ALEXANDRA   13   35
21       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ALICE   27   21
24       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ALINA   25   23
27       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ALISHA   10   38
30       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ALIYAH   12   36
33       2011  FEMALE  ASIAN AND PACIFIC ISLANDER    ALLISON   17   31
36       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ALYSSA   26   22
39       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     AMANDA   22   26
42       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      AMBER   13   35
45       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     AMELIA   14   34
48       2011  FEMALE  ASIAN AND PACIFIC ISLANDER        AMY   24   24
51       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ANGEL   22   26
54       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ANGELA   47   10
57       2011  FEMALE  ASIAN AND PACIFIC ISLANDER   ANGELINA   26   22
60       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ANGIE   10   38
63       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ANIKA   14   34
66       2011  FEMALE  ASIAN AND PACIFIC ISLANDER       ANNA   30   19
69       2011  FEMALE  ASIAN AND PACIFIC ISLANDER  ANNABELLE   10   38
72       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ANNIE   20   28
75       2011  FEMALE  ASIAN AND PACIFIC ISLANDER       ARIA   12   36
78       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ARIANA   15   33
81       2011  FEMALE  ASIAN AND PACIFIC ISLANDER    ARIANNA   11   37
84       2011  FEMALE  ASIAN AND PACIFIC ISLANDER       ARYA   12   36
87       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ASHLEY   52    8
...       ...     ...                         ...        ...  ...  ...
5799     2011    MALE          WHITE NON HISPANIC      USHER   29   78
5802     2011    MALE          WHITE NON HISPANIC     VICTOR   34   73
5805     2011    MALE          WHITE NON HISPANIC    VINCENT   64   52
5808     2011    MALE          WHITE NON HISPANIC   VINCENZO   13   94
5811     2011    MALE          WHITE NON HISPANIC     WESLEY   10   97
5814     2011    MALE          WHITE NON HISPANIC    WILLIAM  170   13
5817     2011    MALE          WHITE NON HISPANIC      WYATT   25   82
5820     2011    MALE          WHITE NON HISPANIC     XAVIER   18   89
5823     2011    MALE          WHITE NON HISPANIC     YAAKOV   45   63
5826     2011    MALE          WHITE NON HISPANIC      YAKOV   60   54
5829     2011    MALE          WHITE NON HISPANIC     YASEEN   11   96
5832     2011    MALE          WHITE NON HISPANIC  YECHEZKEL   11   96
5835     2011    MALE          WHITE NON HISPANIC    YECHIEL   27   80
5838     2011    MALE          WHITE NON HISPANIC   YEHOSHUA   22   85
5841     2011    MALE          WHITE NON HISPANIC     YEHUDA   74   45
5844     2011    MALE          WHITE NON HISPANIC    YEHUDAH   10   97
5847     2011    MALE          WHITE NON HISPANIC       YIDA   13   94
5850     2011    MALE          WHITE NON HISPANIC      YIDEL   11   96
5853     2011    MALE          WHITE NON HISPANIC    YISRAEL   14   93
5856     2011    MALE          WHITE NON HISPANIC    YISROEL   75   44
5859     2011    MALE          WHITE NON HISPANIC   YITZCHAK   17   90
5862     2011    MALE          WHITE NON HISPANIC   YITZCHOK   56   56
5865     2011    MALE          WHITE NON HISPANIC       YOEL   20   87
5868     2011    MALE          WHITE NON HISPANIC      YONAH   10   97
5871     2011    MALE          WHITE NON HISPANIC      YOSEF  102   28
5874     2011    MALE          WHITE NON HISPANIC     YOUSEF   12   95
5877     2011    MALE          WHITE NON HISPANIC    YOUSSEF   11   96
5880     2011    MALE          WHITE NON HISPANIC    ZACHARY   86   38
5883     2011    MALE          WHITE NON HISPANIC     ZALMEN   14   93
5886     2011    MALE          WHITE NON HISPANIC        ZEV   47   61

[1963 rows x 6 columns]

In [18]:
male_names_df = baby_names_df[(baby_names_df.GNDR == "MALE")]

In [20]:
male_names_df.sort_values(by='CNT', ascending=0)

      BRTH_YR  GNDR                      ETHCTY           NM  CNT  RNK
4512     2011  MALE                    HISPANIC       JAYDEN  426    1
4620     2011  MALE                    HISPANIC       JUSTIN  310    2
4467     2011  MALE                    HISPANIC        JACOB  303    3
5547     2011  MALE          WHITE NON HISPANIC      MICHAEL  292    1
5391     2011  MALE          WHITE NON HISPANIC       JOSEPH  281    2
4722     2011  MALE                    HISPANIC      MATTHEW  276    4
5355     2011  MALE          WHITE NON HISPANIC        JACOB  265    3
5175     2011  MALE          WHITE NON HISPANIC        DAVID  258    4
4152     2011  MALE                    HISPANIC        ANGEL  253    5
4371     2011  MALE                    HISPANIC        ETHAN  251    6
4248     2011  MALE                    HISPANIC  CHRISTOPHER  239    7
5070     2011  MALE          WHITE NON HISPANIC     BENJAMIN  230    5
5574     2011  MALE          WHITE NON HISPANIC        MOSHE  224    6
4266     2011  MALE                    HISPANIC       DANIEL  221    8
4116     2011  MALE                    HISPANIC    ALEXANDER  219    9
5169     2011  MALE          WHITE NON HISPANIC       DANIEL  210    7
4158     2011  MALE                    HISPANIC      ANTHONY  207   10
4989     2011  MALE          WHITE NON HISPANIC    ALEXANDER  197    8
4593     2011  MALE                    HISPANIC       JOSHUA  190   11
5505     2011  MALE          WHITE NON HISPANIC      MATTHEW  189    9
4095     2011  MALE                    HISPANIC        AIDEN  188   12
3756     2011  MALE          BLACK NON HISPANIC       JAYDEN  184    1
4197     2011  MALE                    HISPANIC      BRANDON  184   13
4860     2011  MALE                    HISPANIC    SEBASTIAN  183   14
5349     2011  MALE          WHITE NON HISPANIC         JACK  183   10
4578     2011  MALE                    HISPANIC     JONATHAN  183   14
4638     2011  MALE                    HISPANIC        KEVIN  183   14
5697     2011  MALE          WHITE NON HISPANIC       SAMUEL  181   11
4281     2011  MALE                    HISPANIC        DAVID  178   15
3168     2011  MALE  ASIAN AND PACIFIC ISLANDER        ETHAN  177    1
...       ...   ...                         ...          ...  ...  ...
3954     2011  MALE          BLACK NON HISPANIC        NIGEL   10   64
5559     2011  MALE          WHITE NON HISPANIC     MOHAMMED   10   97
3609     2011  MALE          BLACK NON HISPANIC        COREY   10   64
3405     2011  MALE  ASIAN AND PACIFIC ISLANDER        SHAWN   10   56
3981     2011  MALE          BLACK NON HISPANIC      RICARDO   10   64
3873     2011  MALE          BLACK NON HISPANIC        MAKAI   10   64
4107     2011  MALE                    HISPANIC         ALDO   10   94
4866     2011  MALE                    HISPANIC        SHANE   10   94
5694     2011  MALE          WHITE NON HISPANIC        SAMIR   10   97
4215     2011  MALE                    HISPANIC        BRYCE   10   94
3636     2011  MALE          BLACK NON HISPANIC      DONOVAN   10   64
4701     2011  MALE                    HISPANIC       MARLON   10   94
3363     2011  MALE  ASIAN AND PACIFIC ISLANDER       OLIVER   10   56
3978     2011  MALE          BLACK NON HISPANIC       QUINCY   10   64
4890     2011  MALE                    HISPANIC        TOMAS   10   94
4881     2011  MALE                    HISPANIC       TAYLOR   10   94
4545     2011  MALE                    HISPANIC        JESSE   10   94
3207     2011  MALE  ASIAN AND PACIFIC ISLANDER       ISHAAN   10   56
4173     2011  MALE                    HISPANIC       ARTURO   10   94
3192     2011  MALE  ASIAN AND PACIFIC ISLANDER       HAYDEN   10   56
4644     2011  MALE                    HISPANIC        LARRY   10   94
3561     2011  MALE          BLACK NON HISPANIC        BRYAN   10   64
4875     2011  MALE                    HISPANIC        STEVE   10   94
4872     2011  MALE                    HISPANIC      STEPHEN   10   94
4140     2011  MALE                    HISPANIC        ANDRE   10   94
4131     2011  MALE                    HISPANIC        ALVIN   10   94
3675     2011  MALE          BLACK NON HISPANIC       GEORGE   10   64
4125     2011  MALE                    HISPANIC        ALLAN   10   94
5658     2011  MALE          WHITE NON HISPANIC         REED   10   97
3150     2011  MALE  ASIAN AND PACIFIC ISLANDER        EASON   10   56

[959 rows x 6 columns]

In [21]:
female_names_df = baby_names_df[(baby_names_df.GNDR == "FEMALE")]

In [22]:
female_names_df.sort_values(by='CNT', ascending=0)

      BRTH_YR    GNDR                      ETHCTY         NM  CNT  RNK
1440     2011  FEMALE                    HISPANIC   ISABELLA  331    1
1740     2011  FEMALE                    HISPANIC        MIA  229    2
2340     2011  FEMALE          WHITE NON HISPANIC     ESTHER  224    1
1920     2011  FEMALE                    HISPANIC     SOPHIA  223    3
2742     2011  FEMALE          WHITE NON HISPANIC     OLIVIA  213    2
2331     2011  FEMALE          WHITE NON HISPANIC       EMMA  213    2
1164     2011  FEMALE                    HISPANIC     ASHLEY  190    4
1218     2011  FEMALE                    HISPANIC     CAMILA  188    5
2568     2011  FEMALE          WHITE NON HISPANIC       LEAH  183    3
2898     2011  FEMALE          WHITE NON HISPANIC     SOPHIA  180    4
2229     2011  FEMALE          WHITE NON HISPANIC      CHAYA  178    5
2838     2011  FEMALE          WHITE NON HISPANIC      SARAH  177    6
786      2011  FEMALE          BLACK NON HISPANIC    MADISON  176    1
2772     2011  FEMALE          WHITE NON HISPANIC     RACHEL  171    7
1917     2011  FEMALE                    HISPANIC      SOFIA  165    6
1329     2011  FEMALE                    HISPANIC      EMILY  162    7
2118     2011  FEMALE          WHITE NON HISPANIC        AVA  162    8
2469     2011  FEMALE          WHITE NON HISPANIC   ISABELLA  160    9
2211     2011  FEMALE          WHITE NON HISPANIC      CHANA  132   10
2706     2011  FEMALE          WHITE NON HISPANIC     MIRIAM  131   11
2220     2011  FEMALE          WHITE NON HISPANIC  CHARLOTTE  127   12
2307     2011  FEMALE          WHITE NON HISPANIC       ELLA  127   12
1392     2011  FEMALE                    HISPANIC     HAILEY  126    8
1644     2011  FEMALE                    HISPANIC       LEAH  123    9
1701     2011  FEMALE                    HISPANIC    MADISON  122   10
2895     2011  FEMALE          WHITE NON HISPANIC      SOFIA  122   13
2328     2011  FEMALE          WHITE NON HISPANIC      EMILY  119   14
405      2011  FEMALE  ASIAN AND PACIFIC ISLANDER     SOPHIA  119    1
2508     2011  FEMALE          WHITE NON HISPANIC      JULIA  116   15
2679     2011  FEMALE          WHITE NON HISPANIC        MIA  116   15
...       ...     ...                         ...        ...  ...  ...
204      2011  FEMALE  ASIAN AND PACIFIC ISLANDER      HELEN   10   38
1845     2011  FEMALE                    HISPANIC       ROSA   10   78
1821     2011  FEMALE                    HISPANIC      PAOLA   10   78
2616     2011  FEMALE          WHITE NON HISPANIC     LONDON   10   81
1716     2011  FEMALE                    HISPANIC    MARILYN   10   78
2517     2011  FEMALE          WHITE NON HISPANIC      JULIE   10   81
969      2011  FEMALE          BLACK NON HISPANIC    TABITHA   10   45
723      2011  FEMALE          BLACK NON HISPANIC    KAMIYAH   10   45
2406     2011  FEMALE          WHITE NON HISPANIC   GIOVANNA   10   81
327      2011  FEMALE  ASIAN AND PACIFIC ISLANDER      MEGAN   10   38
315      2011  FEMALE  ASIAN AND PACIFIC ISLANDER     MAGGIE   10   38
807      2011  FEMALE          BLACK NON HISPANIC     MARYAM   10   45
1623     2011  FEMALE                    HISPANIC      KYLEE   10   78
303      2011  FEMALE  ASIAN AND PACIFIC ISLANDER      LEELA   10   38
1836     2011  FEMALE                    HISPANIC    REBECCA   10   78
2457     2011  FEMALE          WHITE NON HISPANIC        IDY   10   81
2460     2011  FEMALE          WHITE NON HISPANIC      ILANA   10   81
783      2011  FEMALE          BLACK NON HISPANIC  MACKENZIE   10   45
102      2011  FEMALE  ASIAN AND PACIFIC ISLANDER     BONNIE   10   38
588      2011  FEMALE          BLACK NON HISPANIC   CHEYENNE   10   45
1962     2011  FEMALE                    HISPANIC   VERONICA   10   78
1662     2011  FEMALE                    HISPANIC      LEYLA   10   78
1407     2011  FEMALE                    HISPANIC      HAZEL   10   78
2481     2011  FEMALE          WHITE NON HISPANIC   IZABELLA   10   81
1023     2011  FEMALE                    HISPANIC       ABBY   10   78
2769     2011  FEMALE          WHITE NON HISPANIC      QUINN   10   81
741      2011  FEMALE          BLACK NON HISPANIC      KENYA   10   45
1260     2011  FEMALE                    HISPANIC    CYNTHIA   10   78
1926     2011  FEMALE                    HISPANIC      STACY   10   78
2247     2011  FEMALE          WHITE NON HISPANIC       CORA   10   81

[1004 rows x 6 columns]

In [24]:
baby_names_df['ETHCTY'].unique()

array(['ASIAN AND PACIFIC ISLANDER', 'BLACK NON HISPANIC', 'HISPANIC',
       'WHITE NON HISPANIC'], dtype=object)

In [25]:
asian_baby_names_df = baby_names_df[(baby_names_df.ETHCTY == "ASIAN AND PACIFIC ISLANDER")]

In [27]:
asian_baby_names_df.sort_values(by="CNT", ascending=0)

      BRTH_YR    GNDR                      ETHCTY         NM  CNT  RNK
3168     2011    MALE  ASIAN AND PACIFIC ISLANDER      ETHAN  177    1
3240     2011    MALE  ASIAN AND PACIFIC ISLANDER     JAYDEN  173    2
3393     2011    MALE  ASIAN AND PACIFIC ISLANDER       RYAN  150    3
405      2011  FEMALE  ASIAN AND PACIFIC ISLANDER     SOPHIA  119    1
3276     2011    MALE  ASIAN AND PACIFIC ISLANDER     JUSTIN  110    4
117      2011  FEMALE  ASIAN AND PACIFIC ISLANDER      CHLOE  106    2
3309     2011    MALE  ASIAN AND PACIFIC ISLANDER      LUCAS  103    5
3234     2011    MALE  ASIAN AND PACIFIC ISLANDER      JASON   98    6
3039     2011    MALE  ASIAN AND PACIFIC ISLANDER      AIDEN   96    7
162      2011  FEMALE  ASIAN AND PACIFIC ISLANDER      EMILY   93    3
3282     2011    MALE  ASIAN AND PACIFIC ISLANDER      KEVIN   92    8
354      2011  FEMALE  ASIAN AND PACIFIC ISLANDER     OLIVIA   89    4
3165     2011    MALE  ASIAN AND PACIFIC ISLANDER       ERIC   85    9
3129     2011    MALE  ASIAN AND PACIFIC ISLANDER     DANIEL   84   10
3345     2011    MALE  ASIAN AND PACIFIC ISLANDER   MUHAMMAD   76   11
165      2011  FEMALE  ASIAN AND PACIFIC ISLANDER       EMMA   75    5
3324     2011    MALE  ASIAN AND PACIFIC ISLANDER    MATTHEW   74   12
3444     2011    MALE  ASIAN AND PACIFIC ISLANDER    VINCENT   71   13
3060     2011    MALE  ASIAN AND PACIFIC ISLANDER     ANDREW   70   14
216      2011  FEMALE  ASIAN AND PACIFIC ISLANDER   ISABELLA   67    6
3447     2011    MALE  ASIAN AND PACIFIC ISLANDER    WILLIAM   66   15
3210     2011    MALE  ASIAN AND PACIFIC ISLANDER       IVAN   66   15
3081     2011    MALE  ASIAN AND PACIFIC ISLANDER     AUSTIN   64   16
426      2011  FEMALE  ASIAN AND PACIFIC ISLANDER    TIFFANY   54    7
3147     2011    MALE  ASIAN AND PACIFIC ISLANDER      DYLAN   53   17
3045     2011    MALE  ASIAN AND PACIFIC ISLANDER       ALEX   52   18
87       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ASHLEY   52    8
3015     2011    MALE  ASIAN AND PACIFIC ISLANDER      AARON   51   19
3171     2011    MALE  ASIAN AND PACIFIC ISLANDER       EVAN   51   19
3261     2011    MALE  ASIAN AND PACIFIC ISLANDER   JONATHAN   50   20
...       ...     ...                         ...        ...  ...  ...
153      2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ELINA   11   37
138      2011  FEMALE  ASIAN AND PACIFIC ISLANDER      DAISY   11   37
81       2011  FEMALE  ASIAN AND PACIFIC ISLANDER    ARIANNA   11   37
123      2011  FEMALE  ASIAN AND PACIFIC ISLANDER  CHRISTINE   11   37
3273     2011    MALE  ASIAN AND PACIFIC ISLANDER     JULIAN   11   55
3312     2011    MALE  ASIAN AND PACIFIC ISLANDER       LUKE   11   55
3306     2011    MALE  ASIAN AND PACIFIC ISLANDER      LOUIS   10   56
9        2011  FEMALE  ASIAN AND PACIFIC ISLANDER       AIZA   10   38
303      2011  FEMALE  ASIAN AND PACIFIC ISLANDER      LEELA   10   38
15       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ALEXA   10   38
315      2011  FEMALE  ASIAN AND PACIFIC ISLANDER     MAGGIE   10   38
372      2011  FEMALE  ASIAN AND PACIFIC ISLANDER      RENEE   10   38
3453     2011    MALE  ASIAN AND PACIFIC ISLANDER     XAVIER   10   56
420      2011  FEMALE  ASIAN AND PACIFIC ISLANDER    TANISHA   10   38
3150     2011    MALE  ASIAN AND PACIFIC ISLANDER      EASON   10   56
27       2011  FEMALE  ASIAN AND PACIFIC ISLANDER     ALISHA   10   38
270      2011  FEMALE  ASIAN AND PACIFIC ISLANDER       KATE   10   38
3405     2011    MALE  ASIAN AND PACIFIC ISLANDER      SHAWN   10   56
204      2011  FEMALE  ASIAN AND PACIFIC ISLANDER      HELEN   10   38
3123     2011    MALE  ASIAN AND PACIFIC ISLANDER       CODY   10   56
102      2011  FEMALE  ASIAN AND PACIFIC ISLANDER     BONNIE   10   38
3378     2011    MALE  ASIAN AND PACIFIC ISLANDER      RAYAN   10   56
60       2011  FEMALE  ASIAN AND PACIFIC ISLANDER      ANGIE   10   38
3363     2011    MALE  ASIAN AND PACIFIC ISLANDER     OLIVER   10   56
327      2011  FEMALE  ASIAN AND PACIFIC ISLANDER      MEGAN   10   38
3192     2011    MALE  ASIAN AND PACIFIC ISLANDER     HAYDEN   10   56
3207     2011    MALE  ASIAN AND PACIFIC ISLANDER     ISHAAN   10   56
69       2011  FEMALE  ASIAN AND PACIFIC ISLANDER  ANNABELLE   10   38
3333     2011    MALE  ASIAN AND PACIFIC ISLANDER      MILES   10   56
3462     2011    MALE  ASIAN AND PACIFIC ISLANDER      ZAYAN   10   56

[307 rows x 6 columns]

In [29]:
hispanic_baby_names_df = baby_names_df[(baby_names_df.ETHCTY == "HISPANIC")]
hispanic_baby_names_df.sort_values(by="CNT", ascending=0)

      BRTH_YR    GNDR    ETHCTY           NM  CNT  RNK
4512     2011    MALE  HISPANIC       JAYDEN  426    1
1440     2011  FEMALE  HISPANIC     ISABELLA  331    1
4620     2011    MALE  HISPANIC       JUSTIN  310    2
4467     2011    MALE  HISPANIC        JACOB  303    3
4722     2011    MALE  HISPANIC      MATTHEW  276    4
4152     2011    MALE  HISPANIC        ANGEL  253    5
4371     2011    MALE  HISPANIC        ETHAN  251    6
4248     2011    MALE  HISPANIC  CHRISTOPHER  239    7
1740     2011  FEMALE  HISPANIC          MIA  229    2
1920     2011  FEMALE  HISPANIC       SOPHIA  223    3
4266     2011    MALE  HISPANIC       DANIEL  221    8
4116     2011    MALE  HISPANIC    ALEXANDER  219    9
4158     2011    MALE  HISPANIC      ANTHONY  207   10
1164     2011  FEMALE  HISPANIC       ASHLEY  190    4
4593     2011    MALE  HISPANIC       JOSHUA  190   11
4095     2011    MALE  HISPANIC        AIDEN  188   12
1218     2011  FEMALE  HISPANIC       CAMILA  188    5
4197     2011    MALE  HISPANIC      BRANDON  184   13
4578     2011    MALE  HISPANIC     JONATHAN  183   14
4638     2011    MALE  HISPANIC        KEVIN  183   14
4860     2011    MALE  HISPANIC    SEBASTIAN  183   14
4281     2011    MALE  HISPANIC        DAVID  178   15
4743     2011    MALE  HISPANIC      MICHAEL  174   16
4710     2011    MALE  HISPANIC        MASON  173   17
1917     2011  FEMALE  HISPANIC        SOFIA  165    6
1329     2011  FEMALE  HISPANIC        EMILY  162    7
4401     2011    MALE  HISPANIC      GABRIEL  158   18
4086     2011    MALE  HISPANIC       ADRIAN  157   19
4770     2011    MALE  HISPANIC         NOAH  157   19
4245     2011    MALE  HISPANIC    CHRISTIAN  151   20
...       ...     ...       ...          ...  ...  ...
1575     2011  FEMALE  HISPANIC     KATELYNN   10   78
4644     2011    MALE  HISPANIC        LARRY   10   94
1254     2011  FEMALE  HISPANIC     CRISTINA   10   78
1260     2011  FEMALE  HISPANIC      CYNTHIA   10   78
1500     2011  FEMALE  HISPANIC       JAYLYN   10   78
1791     2011  FEMALE  HISPANIC     NATHALIA   10   78
1482     2011  FEMALE  HISPANIC        JAYDA   10   78
4545     2011    MALE  HISPANIC        JESSE   10   94
4416     2011    MALE  HISPANIC      GIOVANI   10   94
4521     2011    MALE  HISPANIC   JEANCARLOS   10   94
1437     2011  FEMALE  HISPANIC      ISABELA   10   78
1431     2011  FEMALE  HISPANIC         IRIS   10   78
4215     2011    MALE  HISPANIC        BRYCE   10   94
4701     2011    MALE  HISPANIC       MARLON   10   94
1623     2011  FEMALE  HISPANIC        KYLEE   10   78
1641     2011  FEMALE  HISPANIC          LEA   10   78
4488     2011    MALE  HISPANIC       JANIEL   10   94
1203     2011  FEMALE  HISPANIC      BRIANNY   10   78
4173     2011    MALE  HISPANIC       ARTURO   10   94
1662     2011  FEMALE  HISPANIC        LEYLA   10   78
4140     2011    MALE  HISPANIC        ANDRE   10   94
4131     2011    MALE  HISPANIC        ALVIN   10   94
4125     2011    MALE  HISPANIC        ALLAN   10   94
1716     2011  FEMALE  HISPANIC      MARILYN   10   78
1719     2011  FEMALE  HISPANIC      MARISOL   10   78
4107     2011    MALE  HISPANIC         ALDO   10   94
1155     2011  FEMALE  HISPANIC      ARIANNY   10   78
1773     2011  FEMALE  HISPANIC        NANCY   10   78
1962     2011  FEMALE  HISPANIC     VERONICA   10   78
1845     2011  FEMALE  HISPANIC         ROSA   10   78

[618 rows x 6 columns]

In [30]:
hispanic_baby_names_df[(hispanic_baby_names_df.NM == "MARIA")]

      BRTH_YR    GNDR    ETHCTY     NM  CNT  RNK
1707     2011  FEMALE  HISPANIC  MARIA   59   34

In [31]:
male_hispanic_baby_names_df = baby_names_df[(baby_names_df.ETHCTY == "HISPANIC") & (baby_names_df.GNDR == "MALE")]
male_hispanic_baby_names_df.sort_values(by="CNT", ascending=0)[:1]

      BRTH_YR  GNDR    ETHCTY      NM  CNT  RNK
4512     2011  MALE  HISPANIC  JAYDEN  426    1

In [32]:
female_hispanic_baby_names_df = baby_names_df[(baby_names_df.ETHCTY == "HISPANIC") & (baby_names_df.GNDR == "FEMALE")]
female_hispanic_baby_names_df.sort_values(by="CNT", ascending=0)[:1]

      BRTH_YR    GNDR    ETHCTY        NM  CNT  RNK
1440     2011  FEMALE  HISPANIC  ISABELLA  331    1

In [33]:
female_asian_baby_names_df = baby_names_df[(baby_names_df.ETHCTY == "ASIAN AND PACIFIC ISLANDER") & (baby_names_df.GNDR == "FEMALE")]
female_asian_baby_names_df.sort_values(by="CNT", ascending=0)[:1]

     BRTH_YR    GNDR                      ETHCTY      NM  CNT  RNK
405     2011  FEMALE  ASIAN AND PACIFIC ISLANDER  SOPHIA  119    1

In [34]:
male_asian_baby_names_df = baby_names_df[(baby_names_df.ETHCTY == "ASIAN AND PACIFIC ISLANDER") & (baby_names_df.GNDR == "MALE")]
male_asian_baby_names_df.sort_values(by="CNT", ascending=0)[:1]

      BRTH_YR  GNDR                      ETHCTY     NM  CNT  RNK
3168     2011  MALE  ASIAN AND PACIFIC ISLANDER  ETHAN  177    1

In [39]:
male_asian_baby_names_df = baby_names_df[(baby_names_df.ETHCTY == "ASIAN AND PACIFIC ISLANDER") & (baby_names_df.RNK == 1)]
male_asian_baby_names_df

      BRTH_YR    GNDR                      ETHCTY      NM  CNT  RNK
405      2011  FEMALE  ASIAN AND PACIFIC ISLANDER  SOPHIA  119    1
3168     2011    MALE  ASIAN AND PACIFIC ISLANDER   ETHAN  177    1

In [40]:
top_baby_names_df = baby_names_df[(baby_names_df.RNK == 1)]
top_baby_names_df

      BRTH_YR    GNDR                      ETHCTY        NM  CNT  RNK
405      2011  FEMALE  ASIAN AND PACIFIC ISLANDER    SOPHIA  119    1
786      2011  FEMALE          BLACK NON HISPANIC   MADISON  176    1
1440     2011  FEMALE                    HISPANIC  ISABELLA  331    1
2340     2011  FEMALE          WHITE NON HISPANIC    ESTHER  224    1
3168     2011    MALE  ASIAN AND PACIFIC ISLANDER     ETHAN  177    1
3756     2011    MALE          BLACK NON HISPANIC    JAYDEN  184    1
4512     2011    MALE                    HISPANIC    JAYDEN  426    1
5547     2011    MALE          WHITE NON HISPANIC   MICHAEL  292    1

In [53]:
top_baby_names_by_ethnicity_df = baby_names_df[(baby_names_df.RNK == 1)]
top_baby_names_by_ethnicity_df.sort_values(by='ETHCTY')
top_baby_names_by_ethnicity_df

      BRTH_YR    GNDR                      ETHCTY        NM  CNT  RNK
405      2011  FEMALE  ASIAN AND PACIFIC ISLANDER    SOPHIA  119    1
786      2011  FEMALE          BLACK NON HISPANIC   MADISON  176    1
1440     2011  FEMALE                    HISPANIC  ISABELLA  331    1
2340     2011  FEMALE          WHITE NON HISPANIC    ESTHER  224    1
3168     2011    MALE  ASIAN AND PACIFIC ISLANDER     ETHAN  177    1
3756     2011    MALE          BLACK NON HISPANIC    JAYDEN  184    1
4512     2011    MALE                    HISPANIC    JAYDEN  426    1
5547     2011    MALE          WHITE NON HISPANIC   MICHAEL  292    1

In [60]:
baby_names_df.groupby(['GNDR','NM'])

In [70]:
all_female_baby_names = baby_names_df[(baby_names_df.GNDR == "FEMALE")]
all_female_baby_names = all_female_baby_names.groupby(['NM']).sum()
all_female_baby_names.sort_values(by='CNT', ascending=0)[:1]

          BRTH_YR  CNT  RNK
NM
ISABELLA     8044  593   36

In [72]:
all_male_baby_names = baby_names_df[(baby_names_df.GNDR == "MALE")]
all_male_baby_names = all_male_baby_names.groupby(['NM']).sum()
all_male_baby_names.sort_values(by='CNT', ascending=0)[:1]

        BRTH_YR  CNT  RNK
NM
JAYDEN     8044  822   72