In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
graduation_file_path = '/Users/Paul/Sandbox/ygnite_proj/data/graduation_outcomes_2005-2010.csv'
grad_df = pd.read_csv(graduation_file_path)
grad_df = grad_df[(grad_df.Demographic == "Total Cohort")]

In [18]:
sorted_grad_df = grad_df.sort_values(by='Total Grads - % of cohort', ascending=0)
sorted_grad_df

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,5,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1814,Total Cohort,19K502,FDNY HIGH SCHOOL FOR FIRE AND LIFE SA,2003,6,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1633,Total Cohort,17K469,ERASMUS HALL CAMPUS: HS FOR HUMANITIES,2004,2,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1636,Total Cohort,17K470,GEORGE WINGATE HIGH SCHOOL,2003,8,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1637,Total Cohort,17K470,GEORGE WINGATE HIGH SCHOOL,2004,4,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1641,Total Cohort,17K479,ERASMUS HALL CAMPUS: HS FOR BUSINESS & TECHN,2004,1,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1642,Total Cohort,17K479,ERASMUS HALL CAMPUS: HS FOR BUSINESS & TECHN,2005,1,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
886,Total Cohort,09X239,URBAN ASSEMBLY ACADEMY FOR HISTORY AN,2003,3,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1650,Total Cohort,17K524,INTERNATIONAL HIGH SCHOOL AT PROSPECT,2002,3,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1651,Total Cohort,17K524,INTERNATIONAL HIGH SCHOOL AT PROSPECT,2003,3,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1656,Total Cohort,17K528,THE HIGH SCHOOL FOR GLOBAL CITIZENSHI,2002,2,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1657,Total Cohort,17K528,THE HIGH SCHOOL FOR GLOBAL CITIZENSHI,2003,3,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1662,Total Cohort,17K531,SCHOOL FOR HUMAN RIGHTS THE,2002,1,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1663,Total Cohort,17K531,SCHOOL FOR HUMAN RIGHTS THE,2003,5,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1668,Total Cohort,17K533,SCHOOL FOR DEMOCRACY AND LEADERSHIP,2003,1,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1673,Total Cohort,17K537,HIGH SCHOOL FOR YOUTH AND COMMUNITY D,2002,4,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1674,Total Cohort,17K537,HIGH SCHOOL FOR YOUTH AND COMMUNITY D,2003,6,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1679,Total Cohort,17K539,HIGH SCHOOL FOR SERVICE & LEARNING AT,2002,2,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
237,Total Cohort,02M445,SEWARD PARK HIGH SCHOOL,2005,1,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
236,Total Cohort,02M445,SEWARD PARK HIGH SCHOOL,2004,3,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
235,Total Cohort,02M445,SEWARD PARK HIGH SCHOOL,2003,2,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1629,Total Cohort,17K459,ERASMUS HALL CAMPUS: HS FOR SCIENCE & MATH,2003,1,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1626,Total Cohort,17K440,PROSPECT HEIGHTS HIGH SCHOOL,2004,1,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1625,Total Cohort,17K440,PROSPECT HEIGHTS HIGH SCHOOL,2003,2,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1526,Total Cohort,15K460,JOHN JAY HIGH SCHOOL,2002,2,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1491,Total Cohort,14K586,LYONS COMMUNITY SCHOOL,2006 Aug,4,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
900,Total Cohort,09X260,BRONX CENTER FOR SCIENCE AND MATHEMAT,2004,1,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1502,Total Cohort,14K640,HARRY VAN ARSDALE HIGH SCHOOL,2004,4,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1503,Total Cohort,14K640,HARRY VAN ARSDALE HIGH SCHOOL,2005,2,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1511,Total Cohort,15K027,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2005,5,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,Total Cohort,01M539,NEW EXPLORATIONS INTO SCIENCE TECHNO,2006 Aug,46,46,100%,46,100%,100%,...,15,32.6%,32.6%,0,0%,0%,0,0%,0,0%
38,Total Cohort,01M539,NEW EXPLORATIONS INTO SCIENCE TECHNO,2006,46,46,100%,46,100%,100%,...,15,32.6%,32.6%,0,0%,0%,0,0%,0,0%
35,Total Cohort,01M539,NEW EXPLORATIONS INTO SCIENCE TECHNO,2003,58,58,100%,57,98.3%,98.3%,...,8,13.8%,13.8%,1,1.7%,1.7%,0,0%,0,0%
176,Total Cohort,02M416,ELEANOR ROOSEVELT HIGH SCHOOL,2004,105,105,100%,101,96.2%,96.2%,...,32,30.5%,30.5%,4,3.8%,3.8%,0,0%,0,0%
178,Total Cohort,02M416,ELEANOR ROOSEVELT HIGH SCHOOL,2006,127,127,100%,126,99.2%,99.2%,...,16,12.6%,12.6%,1,0.8%,0.8%,0,0%,0,0%
179,Total Cohort,02M416,ELEANOR ROOSEVELT HIGH SCHOOL,2006 Aug,127,127,100%,126,99.2%,99.2%,...,16,12.6%,12.6%,1,0.8%,0.8%,0,0%,0,0%
2384,Total Cohort,31R080,THE MICHAEL J. PETRIDES SCHOOL,2001,86,86,100%,64,74.400000000000006%,74.400000000000006%,...,27,31.4%,31.4%,22,25.6%,25.6%,0,0%,0,0%
2289,Total Cohort,29Q272,GEORGE WASHINGTON CARVER HIGH SCHOOL,2001,21,21,100%,21,100%,100%,...,18,85.7%,85.7%,0,0%,0%,0,0%,0,0%
556,Total Cohort,04M610,YOUNG WOMEN'S LEADERSHIP SCHOOL,2006,55,55,100%,47,85.5%,85.5%,...,38,69.099999999999994%,69.099999999999994%,8,14.5%,14.5%,0,0%,0,0%
2443,Total Cohort,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,2004,192,192,100%,192,100%,100%,...,3,1.6%,1.6%,0,0%,0%,0,0%,0,0%
552,Total Cohort,04M610,YOUNG WOMEN'S LEADERSHIP SCHOOL,2002,54,54,100%,42,77.8%,77.8%,...,33,61.1%,61.1%,12,22.2%,22.2%,0,0%,0,0%
1449,Total Cohort,14K449,BROOKLYN LATIN SCHOOL THE,2006 Aug,51,51,100%,47,92.2%,92.2%,...,21,41.2%,41.2%,4,7.8%,7.8%,0,0%,0,0%
557,Total Cohort,04M610,YOUNG WOMEN'S LEADERSHIP SCHOOL,2006 Aug,55,55,100%,47,85.5%,85.5%,...,38,69.099999999999994%,69.099999999999994%,8,14.5%,14.5%,0,0%,0,0%
2014,Total Cohort,23K647,METROPOLITAN DIPLOMA PLUS HIGH SCHOOL,2005,55,6,10.9%,5,9.1%,83.3%,...,5,9.1%,83.3%,1,1.8%,16.7%,46,83.6%,2,3.6%
1571,Total Cohort,15K520,PACIFIC HIGH SCHOOL,2003,93,10,10.8%,2,2.2%,20%,...,2,2.2%,20%,8,8.6%,80%,79,84.9%,4,4.3%
1295,Total Cohort,12X480,BRONX REGIONAL HIGH SCHOOL,2001,163,17,10.4%,2,1.2%,11.8%,...,2,1.2%,11.8%,15,9.199999999999999%,88.2%,123,75.5%,22,13.5%
1582,Total Cohort,15K529,WEST BROOKLYN COMMUNITY HIGH SCHOOL,2006 Aug,107,11,10.3%,8,7.5%,72.7%,...,8,7.5%,72.7%,3,2.8%,27.3%,84,78.5%,10,9.300000000000001%
1581,Total Cohort,15K529,WEST BROOKLYN COMMUNITY HIGH SCHOOL,2006,107,11,10.3%,8,7.5%,72.7%,...,8,7.5%,72.7%,3,2.8%,27.3%,84,78.5%,10,9.300000000000001%
1573,Total Cohort,15K520,PACIFIC HIGH SCHOOL,2005,69,7,10.1%,3,4.3%,42.9%,...,3,4.3%,42.9%,4,5.8%,57.1%,46,66.7%,14,20.3%
689,Total Cohort,07X379,JILL CHAIFETZ TRANSFER HIGH SCHOOL,2006,50,5,10%,0,0%,0%,...,0,0%,0%,5,10%,100%,37,74%,8,16%
1066,Total Cohort,10X437,FORDHAM HIGH SCHOOL FOR THE ARTS,2002,80,8,10%,8,10%,100%,...,8,10%,100%,0,0%,0%,40,50%,13,16.3%
136,Total Cohort,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCH,2004,81,1,1.2%,0,0%,0%,...,0,0%,0%,1,1.2%,100%,79,97.5%,1,1.2%
623,Total Cohort,05M692,HIGH SCHOOL FOR MATHEMATICS SCIENCE,2002,85,1,1.2%,1,1.2%,100%,...,0,0%,0%,0,0%,0%,1,1.2%,1,1.2%
338,Total Cohort,02M550,LIBERTY HIGH SCHOOL ACADEMY FOR NEWCO,2001,66,0,0%,0,0%,.,...,0,0%,.,0,0%,.,11,16.7%,49,74.2%
1577,Total Cohort,15K529,WEST BROOKLYN COMMUNITY HIGH SCHOOL,2002,21,0,0%,0,0%,.,...,0,0%,.,0,0%,.,21,100%,0,0%
1019,Total Cohort,10X319,PROVIDING URBAN LEARNERS SUCCESS IN E,2002,43,0,0%,0,0%,.,...,0,0%,.,0,0%,.,33,76.7%,10,23.3%
724,Total Cohort,07X527,BRONX LEADERSHIP ACADEMY II HS,2002,52,0,0%,0,0%,.,...,0,0%,.,0,0%,.,51,98.1%,0,0%
1716,Total Cohort,17K568,BROWNSVILLE ACADEMY HIGH SCHOOL,2001,64,0,0%,0,0%,.,...,0,0%,.,0,0%,.,63,98.4%,1,1.6%
1671,Total Cohort,17K533,SCHOOL FOR DEMOCRACY AND LEADERSHIP,2006,74,0,0%,0,0%,.,...,0,0%,.,0,0%,.,63,85.1%,6,8.1%
1424,Total Cohort,13K616,BROOKLYN HIGH SCHOOL FOR LEADERSHIP A,2005,50,0,0%,0,0%,.,...,0,0%,.,0,0%,.,48,96%,2,4%

In [19]:
sorted_grad_df[(sorted_grad_df['Total Grads - % of cohort'] == '100%')]

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
2446,Total Cohort,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,2006 Aug,288,288,100%,288,100%,100%,...,12,4.2%,4.2%,0,0%,0%,0,0%,0,0%
2444,Total Cohort,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,2005,224,224,100%,224,100%,100%,...,3,1.3%,1.3%,0,0%,0%,0,0%,0,0%
624,Total Cohort,05M692,HIGH SCHOOL FOR MATHEMATICS SCIENCE,2003,80,80,100%,80,100%,100%,...,14,17.5%,17.5%,0,0%,0%,0,0%,0,0%
2125,Total Cohort,25Q525,TOWNSEND HARRIS HIGH SCHOOL,2006 Aug,278,278,100%,278,100%,100%,...,7,2.5%,2.5%,0,0%,0%,0,0%,0,0%
2124,Total Cohort,25Q525,TOWNSEND HARRIS HIGH SCHOOL,2006,278,278,100%,278,100%,100%,...,7,2.5%,2.5%,0,0%,0%,0,0%,0,0%
2119,Total Cohort,25Q525,TOWNSEND HARRIS HIGH SCHOOL,2001,279,279,100%,279,100%,100%,...,0,0%,0%,0,0%,0%,0,0%,0,0%
145,Total Cohort,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,2001,92,92,100%,88,95.7%,95.7%,...,25,27.2%,27.2%,4,4.3%,4.3%,0,0%,0,0%
149,Total Cohort,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,2005,96,96,100%,94,97.9%,97.9%,...,39,40.6%,40.6%,2,2.1%,2.1%,0,0%,0,0%
39,Total Cohort,01M539,NEW EXPLORATIONS INTO SCIENCE TECHNO,2006 Aug,46,46,100%,46,100%,100%,...,15,32.6%,32.6%,0,0%,0%,0,0%,0,0%
38,Total Cohort,01M539,NEW EXPLORATIONS INTO SCIENCE TECHNO,2006,46,46,100%,46,100%,100%,...,15,32.6%,32.6%,0,0%,0%,0,0%,0,0%
35,Total Cohort,01M539,NEW EXPLORATIONS INTO SCIENCE TECHNO,2003,58,58,100%,57,98.3%,98.3%,...,8,13.8%,13.8%,1,1.7%,1.7%,0,0%,0,0%
176,Total Cohort,02M416,ELEANOR ROOSEVELT HIGH SCHOOL,2004,105,105,100%,101,96.2%,96.2%,...,32,30.5%,30.5%,4,3.8%,3.8%,0,0%,0,0%
178,Total Cohort,02M416,ELEANOR ROOSEVELT HIGH SCHOOL,2006,127,127,100%,126,99.2%,99.2%,...,16,12.6%,12.6%,1,0.8%,0.8%,0,0%,0,0%
179,Total Cohort,02M416,ELEANOR ROOSEVELT HIGH SCHOOL,2006 Aug,127,127,100%,126,99.2%,99.2%,...,16,12.6%,12.6%,1,0.8%,0.8%,0,0%,0,0%
2384,Total Cohort,31R080,THE MICHAEL J. PETRIDES SCHOOL,2001,86,86,100%,64,74.400000000000006%,74.400000000000006%,...,27,31.4%,31.4%,22,25.6%,25.6%,0,0%,0,0%
2289,Total Cohort,29Q272,GEORGE WASHINGTON CARVER HIGH SCHOOL,2001,21,21,100%,21,100%,100%,...,18,85.7%,85.7%,0,0%,0%,0,0%,0,0%
556,Total Cohort,04M610,YOUNG WOMEN'S LEADERSHIP SCHOOL,2006,55,55,100%,47,85.5%,85.5%,...,38,69.099999999999994%,69.099999999999994%,8,14.5%,14.5%,0,0%,0,0%
2443,Total Cohort,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,2004,192,192,100%,192,100%,100%,...,3,1.6%,1.6%,0,0%,0%,0,0%,0,0%
552,Total Cohort,04M610,YOUNG WOMEN'S LEADERSHIP SCHOOL,2002,54,54,100%,42,77.8%,77.8%,...,33,61.1%,61.1%,12,22.2%,22.2%,0,0%,0,0%
1449,Total Cohort,14K449,BROOKLYN LATIN SCHOOL THE,2006 Aug,51,51,100%,47,92.2%,92.2%,...,21,41.2%,41.2%,4,7.8%,7.8%,0,0%,0,0%
557,Total Cohort,04M610,YOUNG WOMEN'S LEADERSHIP SCHOOL,2006 Aug,55,55,100%,47,85.5%,85.5%,...,38,69.099999999999994%,69.099999999999994%,8,14.5%,14.5%,0,0%,0,0%

In [21]:
grad_df[(grad_df['School Name'] == 'STUYVESANT HIGH SCHOOL')]

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
259,Total Cohort,02M475,STUYVESANT HIGH SCHOOL,2001,765,748,97.8%,748,97.8%,100%,...,4,0.5%,0.5%,0,0%,0%,15,2%,2,0.3%
260,Total Cohort,02M475,STUYVESANT HIGH SCHOOL,2002,779,748,96%,748,96%,100%,...,10,1.3%,1.3%,0,0%,0%,23,3%,4,0.5%
261,Total Cohort,02M475,STUYVESANT HIGH SCHOOL,2003,690,671,97.2%,671,97.2%,100%,...,3,0.4%,0.4%,0,0%,0%,18,2.6%,1,0.1%
262,Total Cohort,02M475,STUYVESANT HIGH SCHOOL,2004,694,679,97.8%,679,97.8%,100%,...,5,0.7%,0.7%,0,0%,0%,14,2%,1,0.1%
263,Total Cohort,02M475,STUYVESANT HIGH SCHOOL,2005,781,754,96.5%,754,96.5%,100%,...,7,0.9%,0.9%,0,0%,0%,22,2.8%,4,0.5%
264,Total Cohort,02M475,STUYVESANT HIGH SCHOOL,2006,787,774,98.3%,774,98.3%,100%,...,4,0.5%,0.5%,0,0%,0%,10,1.3%,3,0.4%
265,Total Cohort,02M475,STUYVESANT HIGH SCHOOL,2006 Aug,787,780,99.1%,780,99.1%,100%,...,8,1%,1%,0,0%,0%,4,0.5%,3,0.4%

In [23]:
grad_df[(grad_df['School Name'] == 'BRONX HIGH SCHOOL OF SCIENCE')]

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
1098,Total Cohort,10X445,BRONX HIGH SCHOOL OF SCIENCE,2001,641,614,95.8%,614,95.8%,100%,...,9,1.4%,1.5%,0,0%,0%,25,3.9%,2,0.3%
1099,Total Cohort,10X445,BRONX HIGH SCHOOL OF SCIENCE,2002,587,573,97.6%,573,97.6%,100%,...,1,0.2%,0.2%,0,0%,0%,13,2.2%,0,0%
1100,Total Cohort,10X445,BRONX HIGH SCHOOL OF SCIENCE,2003,559,549,98.2%,549,98.2%,100%,...,5,0.9%,0.9%,0,0%,0%,10,1.8%,0,0%
1101,Total Cohort,10X445,BRONX HIGH SCHOOL OF SCIENCE,2004,594,584,98.3%,584,98.3%,100%,...,5,0.8%,0.9%,0,0%,0%,8,1.3%,2,0.3%
1102,Total Cohort,10X445,BRONX HIGH SCHOOL OF SCIENCE,2005,581,574,98.8%,574,98.8%,100%,...,6,1%,1%,0,0%,0%,6,1%,0,0%
1103,Total Cohort,10X445,BRONX HIGH SCHOOL OF SCIENCE,2006,668,657,98.4%,657,98.4%,100%,...,4,0.6%,0.6%,0,0%,0%,11,1.6%,0,0%
1104,Total Cohort,10X445,BRONX HIGH SCHOOL OF SCIENCE,2006 Aug,668,663,99.3%,663,99.3%,100%,...,4,0.6%,0.6%,0,0%,0%,5,0.7%,0,0%

In [24]:
sat_file_path = '/Users/Paul/Sandbox/ygnite_proj/data/SAT_Results.csv'
sat_df = pd.read_csv(sat_file_path)
sat_df

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332,557,316
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525
7,01M650,CASCADES HIGH SCHOOL,18,417,418,411
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624,604,628
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395,400,387
10,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409,393,392
11,02M294,ESSEX STREET ACADEMY,53,394,384,378
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374,375,362
13,02M298,PACE HIGH SCHOOL,85,423,438,432
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404,449,416
15,02M303,"FACING HISTORY SCHOOL, THE",76,353,358,340
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375,388,385
17,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403,392,405
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69,408,390,390
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373,370,384
20,02M374,GRAMERCY ARTS HIGH SCHOOL,60,391,391,394
21,02M376,NYC ISCHOOL,92,473,483,479
22,02M392,MANHATTAN BUSINESS ACADEMY,s,s,s,s
23,02M393,BUSINESS OF SPORTS SCHOOL,s,s,s,s
24,02M394,EMMA LAZARUS HIGH SCHOOL,79,319,512,357
25,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,s,s,s,s
26,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263,465,493,461
27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54,492,465,467
28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509,490,523
29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496,563,518
...,...,...,...,...,...,...
448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524,568,544
449,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137,452,451,450
450,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61,398,412,385
451,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472,488,466
452,31R440,NEW DORP HIGH SCHOOL,391,424,437,416
453,31R445,PORT RICHMOND HIGH SCHOOL,271,424,438,417
454,31R450,CURTIS HIGH SCHOOL,375,437,435,429
455,31R455,TOTTENVILLE HIGH SCHOOL,807,462,486,470
456,31R460,SUSAN E. WAGNER HIGH SCHOOL,535,455,474,459
457,31R470,CONCORD HIGH SCHOOL,10,466,455,414
458,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94,416,422,397
459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635,682,636
460,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,10,405,375,370
461,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50,380,366,352
462,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICEâ€“BUSHWICK,88,384,409,361
463,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75,348,353,334
464,32K552,ACADEMY OF URBAN PLANNING,67,342,364,354
465,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428,465,422
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347,358,350
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359,317,358
468,75K371,P.S. 371 s LILLIAN L. RASHKIS,s,s,s,s
469,75M035,P.S. 035,s,s,s,s
470,75Q256,P.S. Q256,s,s,s,s
471,75Q811,P.S. Q811,32,429,444,433
472,75R025,SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25,s,s,s,s
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,s,s,s
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,s,s,s
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,s,s,s
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426
477,79X490,PHOENIX ACADEMY,9,367,370,360

In [27]:
sat_df.sort_values(by=['SAT Critical Reading Avg. Score', 'SAT Math Avg. Score', 'SAT Writing Avg. Score'], ascending=[0,0,0])

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
22,02M392,MANHATTAN BUSINESS ACADEMY,s,s,s,s
23,02M393,BUSINESS OF SPORTS SCHOOL,s,s,s,s
25,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,s,s,s,s
38,02M427,MANHATTAN ACADEMY FOR ARTS & LANGUAGE,s,s,s,s
40,02M437,HUDSON HIGH SCHOOL OF LEARNING TECHNOLOGIES,s,s,s,s
41,02M438,INTERNATIONAL HIGH SCHOOL AT UNION SQUARE,s,s,s,s
47,02M473,WASHINGTON IRVING YABC,s,s,s,s
77,03M402,THE URBAN ASSEMBLY SCHOOL FOR GREEN CAREERS,s,s,s,s
78,03M403,THE GLOBAL LEARNING COLLABORATIVE,s,s,s,s
81,03M417,FRANK MCCOURT HIGH SCHOOL,s,s,s,s
89,03M577,YOUNG ADULT BOROUGH CENTER AT LOUIS D. BRANDEI...,s,s,s,s
100,05M362,"COLUMBIA SECONDARY SCHOOL FOR MATH, SCIENCE, A...",s,s,s,s
111,06M423,HIGH SCHOOL FOR EXCELLENCE AND INNOVATION,s,s,s,s
122,07X379,JILL CHAIFETZ TRANSFER HIGH SCHOOL,s,s,s,s
123,07X381,BRONX HAVEN HIGH SCHOOL,s,s,s,s
136,08X269,BRONX STUDIO SCHOOL FOR WRITERS AND ARTISTS,s,s,s,s
143,08X367,"ARCHIMEDES ACADEMY FOR MATH, SCIENCE AND TECHN...",s,s,s,s
144,08X376,"ANTONIA PANTOJA PREPARATORY ACADEMY, A COLLEGE...",s,s,s,s
148,08X432,BRONX BRIDGES HIGH SCHOOL,s,s,s,s
150,08X507,STEVENSON YABC,s,s,s,s
153,08X537,BRONX ARENA HIGH SCHOOL,s,s,s,s
167,09X324,BRONX EARLY COLLEGE ACADEMY FOR TEACHING & LEA...,s,s,s,s
186,10X319,PROVIDING URBAN LEARNERS SUCCESS IN EDUCATION ...,s,s,s,s
201,10X478,LEARNING TO WORK GED AT JOHN F. KENNEDY,s,s,s,s
216,11X417,YOUNG ADULT BOROUGH CNTR CHRISTOPHER COLUMBUS HS,s,s,s,s
219,11X456,LEARNING TO WORK YABC AT TRUMAN HIGH SCHOOL,s,s,s,s
234,12X428,LEARNING TO WORK YABC AT MONROE ACADEMY,s,s,s,s
236,12X478,THE CINEMA SCHOOL,s,s,s,s
237,12X479,BRONX CAREER AND COLLEGE PREPARATORY HIGH SCHOOL,s,s,s,s
254,13K527,URBAN ASSEMBLY INSTITUTE OF MATH AND SCIENCE F...,s,s,s,s
...,...,...,...,...,...,...
464,32K552,ACADEMY OF URBAN PLANNING,67,342,364,354
240,12X682,FANNIE LOU HAMER FREEDOM HIGH SCHOOL,72,342,346,341
333,19K502,FDNY HIGH SCHOOL FOR FIRE AND LIFE SAFETY,37,341,349,333
118,06M552,GREGORIO LUPERON HIGH SCHOOL FOR SCIENCE AND M...,56,339,349,326
349,20K658,FRANKLIN DELANO ROOSEVELT YABC,18,338,477,316
304,17K537,HIGH SCHOOL FOR YOUTH AND COMMUNITY DEVELOPMEN...,73,338,349,340
140,08X305,PABLO NERUDA ACADEMY FOR ARCHITECTURE AND WORL...,67,337,361,340
55,02M542,MANHATTAN BRIDGES HIGH SCHOOL,66,336,378,344
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332,557,316
220,11X513,NEW WORLD HIGH SCHOOL,72,332,381,335
243,12X692,MONROE ACADEMY FOR VISUAL ARTS & DESIGN,43,332,357,349
383,24Q530,INTERNATIONAL HIGH SCHOOL AT LAGUARDIA COMMUNI...,69,326,409,329
350,21K337,INTERNATIONAL HIGH SCHOOL AT LAFAYETTE,54,326,386,314
157,09X227,BRONX EXPEDITIONARY LEARNING HIGH SCHOOL,39,324,376,349
446,30Q555,NEWCOMERS HIGH SCHOOL,143,323,475,329
233,12X388,PAN AMERICAN INTERNATIONAL HIGH SCHOOL AT MONROE,30,321,351,298
24,02M394,EMMA LAZARUS HIGH SCHOOL,79,319,512,357
377,24Q296,PAN AMERICAN INTERNATIONAL HIGH SCHOOL,55,317,323,311
169,09X365,ACADEMY FOR LANGUAGE AND TECHNOLOGY,54,315,339,297
390,25Q263,FLUSHING INTERNATIONAL HIGH SCHOOL,45,314,417,318
170,09X403,BRONX INTERNATIONAL HIGH SCHOOL,49,314,312,339
316,18K563,IT TAKES A VILLAGE ACADEMY,56,313,320,330
371,23K646,ASPIRATIONS DIPLOMA PLUS HIGH SCHOOL,7,311,371,311
121,07X334,INTERNATIONAL COMMUNITY HIGH SCHOOL,34,310,324,311
250,13K439,BROOKLYN INTERNATIONAL HIGH SCHOOL,90,305,364,312
184,10X268,KINGSBRIDGE INTERNATIONAL HIGH SCHOOL,52,304,356,302
239,12X550,HIGH SCHOOL OF WORLD CULTURES,42,304,323,312
187,10X342,INTERNATIONAL SCHOOL FOR LIBERAL ARTS,49,300,333,301
300,17K524,INTERNATIONAL HIGH SCHOOL AT PROSPECT HEIGHTS,71,287,335,291
337,19K583,MULTICULTURAL HIGH SCHOOL,29,279,322,286

In [29]:
sat_df = sat_df[(sat_df['Num of SAT Test Takers'] != 's' )]

In [30]:
sat_df.sort_values(by=['SAT Critical Reading Avg. Score', 'SAT Math Avg. Score', 'SAT Writing Avg. Score'], ascending=[0,0,0])

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
48,02M475,STUYVESANT HIGH SCHOOL,832,679,735,682
206,10X696,HIGH SCHOOL OF AMERICAN STUDIES AT LEHMAN COLLEGE,92,636,648,636
459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635,682,636
198,10X445,BRONX HIGH SCHOOL OF SCIENCE,731,632,688,649
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624,604,628
396,25Q525,TOWNSEND HARRIS HIGH SCHOOL,278,621,651,638
427,28Q687,QUEENS HIGH SCHOOL FOR THE SCIENCES AT YORK CO...,121,612,660,596
107,05M692,"HIGH SCHOOL FOR MATHEMATICS, SCIENCE AND ENGIN...",101,605,654,588
249,13K430,BROOKLYN TECHNICAL HIGH SCHOOL,1277,587,659,587
265,14K449,"BROOKLYN LATIN SCHOOL, THE",72,586,584,570
83,03M479,BEACON HIGH SCHOOL,261,577,575,592
33,02M416,ELEANOR ROOSEVELT HIGH SCHOOL,127,572,594,592
84,03M485,FIORELLO H. LAGUARDIA HIGH SCHOOL OF MUSIC & A...,531,566,564,577
378,24Q299,BARD HIGH SCHOOL EARLY COLLEGE II,155,545,568,550
30,02M412,N.Y.C. LAB SCHOOL FOR COLLABORATIVE STUDIES,114,537,590,550
34,02M418,MILLENNIUM HIGH SCHOOL,144,528,553,533
62,02M565,URBAN ACADEMY LABORATORY HIGH SCHOOL,30,527,508,512
448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524,568,544
366,22K535,LEON M. GOLDSTEIN HIGH SCHOOL FOR THE SCIENCES,259,524,561,542
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525
31,02M413,SCHOOL OF THE FUTURE HIGH SCHOOL,66,517,533,515
425,28Q680,QUEENS GATEWAY TO HEALTH SCIENCES SECONDARY SC...,99,513,523,502
28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509,490,523
444,30Q501,FRANK SINATRA SCHOOL OF THE ARTS HIGH SCHOOL,174,504,496,494
410,27Q323,SCHOLARS' ACADEMY,89,499,537,496
61,02M560,HIGH SCHOOL M560 s CITY AS SCHOOL,56,498,440,477
29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496,563,518
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426
27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54,492,465,467
447,30Q575,ACADEMY OF AMERICAN STUDIES,135,487,492,491
...,...,...,...,...,...,...
464,32K552,ACADEMY OF URBAN PLANNING,67,342,364,354
240,12X682,FANNIE LOU HAMER FREEDOM HIGH SCHOOL,72,342,346,341
333,19K502,FDNY HIGH SCHOOL FOR FIRE AND LIFE SAFETY,37,341,349,333
118,06M552,GREGORIO LUPERON HIGH SCHOOL FOR SCIENCE AND M...,56,339,349,326
349,20K658,FRANKLIN DELANO ROOSEVELT YABC,18,338,477,316
304,17K537,HIGH SCHOOL FOR YOUTH AND COMMUNITY DEVELOPMEN...,73,338,349,340
140,08X305,PABLO NERUDA ACADEMY FOR ARCHITECTURE AND WORL...,67,337,361,340
55,02M542,MANHATTAN BRIDGES HIGH SCHOOL,66,336,378,344
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332,557,316
220,11X513,NEW WORLD HIGH SCHOOL,72,332,381,335
243,12X692,MONROE ACADEMY FOR VISUAL ARTS & DESIGN,43,332,357,349
383,24Q530,INTERNATIONAL HIGH SCHOOL AT LAGUARDIA COMMUNI...,69,326,409,329
350,21K337,INTERNATIONAL HIGH SCHOOL AT LAFAYETTE,54,326,386,314
157,09X227,BRONX EXPEDITIONARY LEARNING HIGH SCHOOL,39,324,376,349
446,30Q555,NEWCOMERS HIGH SCHOOL,143,323,475,329
233,12X388,PAN AMERICAN INTERNATIONAL HIGH SCHOOL AT MONROE,30,321,351,298
24,02M394,EMMA LAZARUS HIGH SCHOOL,79,319,512,357
377,24Q296,PAN AMERICAN INTERNATIONAL HIGH SCHOOL,55,317,323,311
169,09X365,ACADEMY FOR LANGUAGE AND TECHNOLOGY,54,315,339,297
390,25Q263,FLUSHING INTERNATIONAL HIGH SCHOOL,45,314,417,318
170,09X403,BRONX INTERNATIONAL HIGH SCHOOL,49,314,312,339
316,18K563,IT TAKES A VILLAGE ACADEMY,56,313,320,330
371,23K646,ASPIRATIONS DIPLOMA PLUS HIGH SCHOOL,7,311,371,311
121,07X334,INTERNATIONAL COMMUNITY HIGH SCHOOL,34,310,324,311
250,13K439,BROOKLYN INTERNATIONAL HIGH SCHOOL,90,305,364,312
184,10X268,KINGSBRIDGE INTERNATIONAL HIGH SCHOOL,52,304,356,302
239,12X550,HIGH SCHOOL OF WORLD CULTURES,42,304,323,312
187,10X342,INTERNATIONAL SCHOOL FOR LIBERAL ARTS,49,300,333,301
300,17K524,INTERNATIONAL HIGH SCHOOL AT PROSPECT HEIGHTS,71,287,335,291
337,19K583,MULTICULTURAL HIGH SCHOOL,29,279,322,286